name: Update JavaDocs

concurrency: ci-${{ github.ref }}
on:
  workflow_run:
    workflows: ["Tag & Release"]
    branches: [main]
    types:
      - completed

jobs:
  generate-javadocs:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: 'main'

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          cache: maven

      - name: Build JavaDocs
        run: mvn -U clean verify -Pgenerate-site-docs

      - name: Commit JavaDocs
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
          git add docs
          git commit -m 'Updating JavaDocs.'
          git push
